[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MHQoL"]
	path = MHQoL
	url = https://github.com/cran/MHQoL
[submodule "tatooheene"]
	path = tatooheene
	url = https://github.com/cran/tatooheene
